In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dataset=pd.read_csv('/content/sample_data/IRIS.csv')

In [ ]:
dataset

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
scaled_feautures=scaler.fit_transform(dataset.drop('species',axis=1))

In [ ]:
scaled_feautures

In [ ]:
new_dataset=pd.DataFrame(scaled_feautures,columns=dataset.columns[:-1])

In [ ]:
new_dataset

     sepal_length  sepal_width  petal_length  petal_width
0       -0.900681     1.032057     -1.341272    -1.312977
1       -1.143017    -0.124958     -1.341272    -1.312977
2       -1.385353     0.337848     -1.398138    -1.312977
3       -1.506521     0.106445     -1.284407    -1.312977
4       -1.021849     1.263460     -1.341272    -1.312977
..            ...          ...           ...          ...
145      1.038005    -0.124958      0.819624     1.447956
146      0.553333    -1.281972      0.705893     0.922064
147      0.795669    -0.124958      0.819624     1.053537
148      0.432165     0.800654      0.933356     1.447956
149      0.068662    -0.124958      0.762759     0.790591

[150 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X=new_dataset
Y=dataset['species']

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, CategoricalNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
scores=[]
classifier=GaussianNB()
classifier.fit(X_train,Y_train)
Y_pred=classifier.predict(X_test)
scores.append(accuracy_score(Y_test,Y_pred))
cm=confusion_matrix(Y_test,Y_pred)

In [ ]:
cm

array([[19,  0,  0],
       [ 0, 12,  1],
       [ 0,  0, 13]])

In [ ]:
print(scores)

[0.9777777777777777]

In [ ]:
cls1=BernoulliNB()
cls1.fit(X_train,Y_train)
Y_pred=cls1.predict(X_test)
scores.append(accuracy_score(Y_test,Y_pred))
gm=confusion_matrix(Y_test,Y_pred)

In [ ]:
gm

array([[19,  0,  0],
       [ 0,  4,  9],
       [ 0,  1, 12]])