In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ds=pd.read_csv('/content/sample_data/Salary_Data.csv')

In [ ]:
ds

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
s=StandardScaler()

In [ ]:
s.fit(ds.drop'sa')

In [ ]:
x=ds.drop('Salary',axis=1)

In [16]:
y=ds['Salary']

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
xtr,xte,ytr,yte=train_test_split(x,y,random_state=42,test_size=0.3)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lr=LinearRegression()

In [23]:
lr.fit(xtr,ytr)

LinearRegression()

In [24]:
p=lr.predict(xte)

In [25]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [27]:
print(mean_squared_error(yte,p))

37784662.46621314

In [28]:
import numpy as np

In [29]:
np.help()

AttributeError: ignored

In [30]:
np.Help()

AttributeError: ignored

In [31]:
np.help

AttributeError: ignored

In [ ]:
np.help